<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing images</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Editing Images</h1>
        </header>
        <h2>Image 1</h2>
        <img src="images/Concept.jpg" alt="">
        <img src="images/Concept-gimp-redshift.jpg" alt="">
        <p>Changed the hue to red</p>
        <h2>Image 2</h2>
        <img src="images/R8.jpg" alt="">
        <img src="images/R8-gimp-resize.jpg" alt="">
        <p>Resized the image</p>
        <h2>Image 3</h2>
        <img src="images/R8c.jpg" alt="">
        <img src="images/R8c-gimp-dblinvert.jpg" alt="">
        <p>Inverted twice to make a cool sunset</p>
        <h2>Image 4</h2>
        <img src="images/RS7.jpg" alt="">
        <img src="images/RS7-gimp-flipped.jpg" alt="">
        <p>Mirrored the image</p>
        <h2>Image 5</h2>
        <img src="images/S5.jpg" alt="">
        <img src="images/S5-gimp-crop.jpg" alt="">
        <p>Cropped the image</p>
    </div>

</body>

</html>